.latestPostCard {
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 100%;
}

.latestPostCardBody {
  display: flex;
  flex-direction: column;
}
.latestPostCardBody h3 {
  margin-bottom: 0; /* Remove default margin to ensure consistent spacing */
  color: #3b6f78;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.latestPostCardBody p {
  margin-top: auto; /* Pushes the <p> element to the bottom */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.latestPostCard .latestPostCardBody .latestPostCardLink {
  align-self: flex-start;
  margin-top: auto;
  padding-top: 1rem;
}
.latestPostCardLink {
  border-top: 1px solid #eaeaea;
}

.latestPostCard a:hover,
.latestPostCard a:focus,
.latestPostCard a:active {
  text-decoration: underline;
}
.latestPostCard:hover,
.latestPostCard:focus,
.latestPostCard:active {
  color: #198754;
  border-color: #3b6f78;
}
