* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  border: 1px dotted purple;
}
.row {
  margin: 0.5rem 0;
  border: 1px solid yellow;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
